{% extends "layout.html" %}
{% block body %} 
        <!-- Page Header-->
        <header class="masthead" style="background-image: url( '{{ url_for('static',filename='assets/img/home-bg.jpg')}} ' )">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{params["blog_name"]}}</h1>
                            <span class="subheading">{{params["tagline"]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <a href='/admin_dashboard'<button>Dashboard</button></a>
                    <a href='/logout'<button>Logout</button></a>
                    <form id="contactForm" method="POST" action='/edit/{{post_id}}' >
                        <div class="form-floating">
                            <input class="form-control" id="title" type="text" placeholder="Title" data-sb-validations="required" name="title" value="{{post.title}}"/>
                            <label for="title">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="tagline" type="text" placeholder="Tagline" data-sb-validations="required" name="tagline" value="{{post.tagline}}"/>
                            <label for="tagline">Tagline</label>
                            <div class="invalid-feedback" data-sb-feedback="tagline:required">A tagline is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="slug" type="text" placeholder="slug" data-sb-validations="required" name="slug" value="{{post.slug}}"/>
                            <label for="slug">slug</label>
                            <div class="invalid-feedback" data-sb-feedback="slug:required">A slug is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="content" type="text" placeholder="content" data-sb-validations="required" name="content" value="{{post.content}}"/>
                            <label for="content">Content</label>
                            <div class="invalid-feedback" data-sb-feedback="content:required">Content is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="img_file" type="text" placeholder="img_file" data-sb-validations="required" name="img_file" value="{{post.img_file}}"/>
                            <label for="img_file">Image File</label>
                            <div class="invalid-feedback" data-sb-feedback="img_file:required">Image is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="posted_by" type="text" placeholder="posted_by" data-sb-validations="required" name="posted_by" value="{{post.posted_by}}"/>
                            <label for="posted_by">Posted By</label>
                            <div class="invalid-feedback" data-sb-feedback="posted_by:required">posted_by required.</div>
                        </div>
                        <br />
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                    

                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
{% endblock %}